# root
mount -ac #s/ramboot /root $rootspec
bind -a $rootdir /
bind -c $rootdir/mnt /mnt
mount -a #s/bootpaq /boot

# kernel devices
bind #c /dev
bind #d /fd
bind -c #e /env
bind #p /proc
bind -c #s /srv
bind -a #¤ /dev
bind -a #S /dev
bind -b #k /dev
bind -a #κ /dev
bind -a #u /dev
bind -b #P /dev

# mount points
mount -a /srv/slashn /n
mount -a /srv/slashmnt /mnt
mount -a /srv/mntexport /mnt/exportfs

# 9front paqfs root
mount -a #s/frontpaq /mnt/broot
bind -a /mnt/broot /
bind -a /mnt/broot/lib /lib

# authentication
mount -b /srv/factotum /mnt

# standard bin
bind -a /boot /bin
bind -b /root/bin /bin
bind -a /root/bin /boot
bind -b /$cputype/bin /bin
bind -a /rc/bin /bin

# internal networks
# mount -a /srv/ip /net
bind -a #l /net
bind -a #I /net
mount -a /srv/cs /net
mount -a /srv/dns /net
mount -a /srv/net /net
mount -b /srv/ssh /net

# usbd, mainly disks
mount /srv/usb /n/usb
mount -a /srv/usb /dev

mount -c /srv/hubfs /n/hubfs

bind -c /usr/$user/tmp /tmp
cd /usr/$user

. /lib/namespace.local
. /lib/namespace.$sysname
. /cfg/$sysname/namespace
